<div class="container mt-5">
    <h2 class="mb-4">Update Profile</h2>
    <form >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter name">
       
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" formControlName="status" placeholder="Enter status">
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="onBack()">Cancel</button>
    </form>
</div>
